alabaster==0.7.12
appnope==0.1.0
awscli==1.15.85
Babel==2.6.0
boto3==1.9.7
botocore==1.12.7
certifi==2018.8.24
colorama==0.3.9
configparser==3.5.0
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
Flask==1.1.1
PyMySQL==0.9.3

